* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

section {
    margin: 4px 0;
}
.section-2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 12px 86px;
    color: white;
}
.thor {
    background-color: #e5e7eb;
    padding: 60px;
}
.section-2 p {
    text-align: center;
}
.section-3{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.section-3 strong{
    text-align: end;
}
.section-4{
    display: flex;
    justify-content: center;
    padding: 60px;
}
.rand img {
    border: 1px solid blue ;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    flex: 0 0 auto;
}
.rand{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 24px;
}
.header-div {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #1f2937;
    padding: 12px 86px;
}
img {
    height: 200px;
}
.call-to-action{
    display: flex;
    background-color: #3882f6;
    margin: 40px;
    padding: 40px; 
    border-radius: 25px;
    align-content: center;
}
ul {
    display: flex;
    list-style-type: none;
}
li {
    padding: 8px;
}
footer{
    background-color: #1f2937;
    color: white;
    padding: 24px;
    text-align: center;
}
