* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    border: 2px solid green; 
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
div {
}
section {
    border: 5px solid red;
}
header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 16px 0;
    color: white;
}
.header-div {
    display: flex;
    justify-content: space-around;
    padding: 60px;
    color: white;
    background-color: #1f2937;
}
img {
    padding: 20px;
    height: 200px;
}
ul {
    display: flex;
    list-style-type: none;
}
li {
    padding: 8px;
}
